# MacOS
.DS_Store

# Vagrant
.vagrant*/

# Binaries for programs and plugins
*.exe
*.dll
*.so
*.dylib


# server
server/circonus-agentd
server/cosi-serverd
server/provision/*.retry
server/provision/prod.*
server/provision/roles/server/files/packages/*.rpm
server/provision/roles/server/files/packages/*.deb
server/provision/roles/server/files/packages/*.tgz

# tool
tool/**/config.yaml
