---

listen: ["{{ cosi_listen }}"]
local_packages: {{ local_agent_packages }}
local_package_path: "{{cosi_directory }}/content/packages"
cosi_tool_version: {{ cosi_tool_version }}
cosi_tool_base_url: {{ cosi_tool_base_url }}
content_path: "{{ cosi_directory}}/content"
package_config_file: "{{ cosi_directory }}/etc/circonus-packages.yaml"
{% if local_agent_packages %}
package_base_url: "http://{{ cosi_server_addr }}:{{ cosi_server_port }}/packages"
{% else %}
package_base_url: http://updates.circonus.com/node-agent/packages
{% endif %}
ssl:
  listen: ""
  cert_file: "{{ cosi_directory }}/etc/cosi-server.pem"
  key_file: "{{ cosi_directory }}/etc/cosi-server.key"
  verify: true
enable_template_cache: true
validators:
  param_type_regex: ^(?i)[a-z-_]+$
  param_distro_regex: ^(?i)[a-z]+$
  is_rhel_distro_regex: ^(?i)(CentOS|Fedora|RedHat|Oracle)$
  is_solaris_distro_regex: ^(?i)(OmniOS|Illumos|Solaris)$
  param_version_regex: ^[rv]?\d+(\.\d+)*$
  param_version_cleaner_regex: ^[rv]
  param_arch_regex: ^(amd64|x86_64|i386|i686)$
  param_agent_mode_regex: ^(?i)(reverse|pull|push|revonly)$
  template_type_regex: ^(?i)(check|graph|worksheet|dashboard)$
  template_name_regex: ^(?i)[a-z0-9_-\`]+$
brokers:
  fallback:
  - 1
  - 2
  - 275
  fallback_default: 2
  push:
  - 35
  push_default: 0
  pull:
  - 1
  - 2
  - 275
  pull_default: 2
rpm_file: ""
statsd:
  address: 127.0.0.1:8125
  interval: 10s
  prefix: cosi-server
debug: false
log:
  level: warn
  pretty: false
